<div class="d-flex">
  <div>
    <h1 class="">Olá, meu nome é Pedro Henrique e trabalho com desenvolvimento web.</h1>
    <p class="fs-4">Sou formado em Matemática e atualmente estou cursando o curso Análise e Desenvolvimento de Sistemas na FATEC Rio Preto, trabalhando na empresa Field Control como estagiário e também estou participando no projeto Oracle ONE na Alura.</p>
  </div>
  <div>
    <img src="../../../assets/img/perfil.jpg" class="rounded-circle" alt="Foto de perfil">
  </div>
</div>
<div>
  <a href="https://www.linkedin.com/in/pedro-henrique-678618218/" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" class="badges rounded"></a>
  <a href = "https://web.whatsapp.com/send?phone=5567999001114" target="_blank"><img src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white" class="badges rounded ms-2 me-2"></a>
  <a href="https://github.com/PedroH-araujo" target="_blank"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" class="badges1 rounded">
  </a>
</div>
