<div class="mt-4">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Pedro Henrique</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Sobre min</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Skills</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Hobbies</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Formação</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Projetos</a></li>
      <li class="nav-item"><a href="#" class="nav-link fw-bolder">pedrohva.pba@gmail.com</a></li>
    </ul>
  </header>
</div>

